@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#app * {
  font-family: "Libre Caslon Text", serif;
}

a, .green { 
  text-decoration: none;
  color: rgb(0, 189, 132);
  transition: 0.4s;
  padding: 3px;
}

.pretty-blue {
  color: #5ce1e6;
}

.pretty-purple {
  color: #8c52ff;
}

.button {
  padding: 1rem;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  background-color: #8c52ff;
  color: white;
  font-size: 18px;
}

.button:hover {
  box-shadow: 2px 10px #b5a3fe;
}

.fun-fact {
	text-align: center;
	padding: 4%;
	margin-bottom: 5%;
	border-radius: 10px;
	border: 2px solid gold;
	background-color: rgb(255, 255, 197);
}

.fun-fact * {
  	font-weight: 1000;
}